@using Orchard.Utility.Extensions;
@{
    Layout.Title = Model.Title;
    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
}
<div class="@contentTypeClassName">
    @*I can't imagine needing this.*@
        <section>
        @if (Model.Header != null)
        {
            <header class="grid-12">
                @Display(Model.Header)
                @if (Model.Meta != null)
                {
                    <div class="metadata">
                        @Display(Model.Meta)
                    </div>
                }
            </header>
        }
    </section>
    @if (Model.BeforeContent != null)
    {
        <section>
            @Display(Model.BeforeConent)
        </section>
    }
    <section>
        @Display(Model.Content)
    </section>



    @if (Model.Footer != null)
    {
        <section>
            <footer>
                @Display(Model.Footer)
            </footer>
        </section>
    }
</div>


