
           
<div>
    <p>@Model.PropertyAddressPart.Latitude</p>
    <p>@Model.PropertyAddressPart.Longitude</p>
    <p>@Model.PropertyAddressPart.City</p>
    <p>@Model.PropertyAddressPart.State</p>
    <p>@Model.PropertyAddressPart.Zipcode</p>
    <p>@Model.PropertyAddressPart.Street</p>
</div>