@{
    Script.Require("jQuery");
    Style.Require("Waffles");

    Script.Include("gmaps");
    Script.Include("PropertyAddressPartView");
    Style.Include("PropertyAddressPart");
    
}
<script>
    var propertyaddress_myLat = @Model.PropertyAddressPart.Latitude;
    var propertyaddress_myLong = @Model.PropertyAddressPart.Longitude;
    var propertyaddress_title = '@Model.PropertyAddressPart.Street';
</script>

<div class="waffles">
    <div class="w-12">
        <div class="w-12 w-alpha w-omega property-address-view">
            <span class="w-12 w-alpha w-omega w-v-1 property-address-view-street">@Model.PropertyAddressPart.Street</span>
            <span class="w-12 w-alpha w-omega w-v-1 property-address-view-state">@Model.PropertyAddressPart.City , @Model.PropertyAddressPart.State</span>
            <span class="w-12 w-alpha w-omega w-v-1 property-address-view-zip">@Model.PropertyAddressPart.Zipcode</span>
        </div>
        <div class="googlemap googlemap-view w-12 w-alpha w-omega">
            &nbsp;
        </div>
    </div>
</div>
