@using Nwazet.Commerce.Models
@{
    var method = (WeightBasedShippingMethodPart)Model.ShippingMethod;
    var shippingAreas = (IEnumerable<ShippingArea>)Model.ShippingAreas;
    var includedAreas = new HashSet<string>((method.IncludedShippingAreas ?? "").Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries));
    var excludedAreas = new HashSet<string>((method.ExcludedShippingAreas ?? "").Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries));
}
<fieldset>
    <label class="sub" for="Name">@T("Method Name")</label><br />
    @Html.TextBox("Name", method.Name, new { @class = "text" })<br />
    <span class="hint">@T("The technical name of the shipping method (this is different from the title, which is the method's friendly name that will be displayed to end-users).")</span><br/>
    <label class="sub" for="ShippingCompany">@T("Shipping Company")</label><br />
    @Html.TextBox("ShippingCompany", method.ShippingCompany, new { @class = "text" })<br />
    <label class="sub" for="Price">@T("Price")</label><br />
    @Html.TextBox("Price", method.Price, new { @class = "text" })<br />
    <label class="sub" for="MinimumWeight">@T("Minimum Weight")</label><br />
    @Html.TextBox("MinimumWeight", method.MinimumWeight, new { @class = "text" })<br />
    <label class="sub" for="MaximumWeight">@T("Maximum Weight")</label><br />
    @Html.TextBox("MaximumWeight", method.MaximumWeight, new { @class = "text" })<br />
    <span class="hint">@T("Specify the weight interval for which this shipping price is valid. Leave the maximum weight field empty for unlimited weight. The weight will be computed for all non-digital products that don't have a shipping price overload specified.")</span><br/>
    <label class="sub" for="IncludedShippingAreas">@T("Areas for which this method is valid:")</label><br />
    @foreach(var area in shippingAreas) {
        <input type="checkbox" name="@(Model.Prefix + ".IncludedShippingAreas")"@(includedAreas.Contains(area.Id) ? " checked=\"checked\"" : "") id="@(Model.Prefix + "_" + area.Id)" value="@area.Id"/>
        <label class="forcheckbox" for="@(Model.Prefix + "_" + area.Id)">@area.Name</label>
    }
    <br/>
    <label class="sub" for="ExcludedShippingAreas">@T("Areas for which this method is not valid:")</label><br />
    @foreach(var area in shippingAreas) {
        <input type="checkbox" name="@(Model.Prefix + ".ExcludedShippingAreas")"@(excludedAreas.Contains(area.Id) ? " checked=\"checked\"" : "") id="@(Model.Prefix + "_" + area.Id)" value="@area.Id"/>
        <label class="forcheckbox" for="@(Model.Prefix + "_" + area.Id)">@area.Name</label>
    }
    <span class="hint">@T("Use this to restrict what areas this method is available from. For example, an international shipping method would have World included, but US excluded, so that it can't be selected for domestic shipping.")</span><br/>
</fieldset>